@{ ViewData["Title"] = "Регистрация"; }

<h1>@ViewData["Title"]</h1>

<form method="post">
    <p>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
    </p>
    <p>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </p>
    <p>
        <button type="submit">Зарегистрироваться</button>
    </p>
</form>
@{ ViewData["Title"] = "Login"; }
<h1>@ViewData["Title"]</h1>

<form method="post">
    <p>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
    </p>
    <p>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </p>
    <p>
        <button type="submit">Войти</button>
    </p>
</form>